@model ItemDetail
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @ViewBag.Title
    </title>
    @Styles.Render("~/styles/edit-category")
    @Scripts.Render("~/scripts/edit-category")
</head>
<body style="background:white;">
    <div class="col-md-12 header-menu">
        <span class="su su-folder Head-icon"></span>
        <span class="PopupTitle">
            Update Category
        </span>
        <a href="javascript:void(0);" class="PopupClose" title="Close" onclick="closeEditCategoryPopup()"><span class="su su-close"></span></a>
    </div>
    <form id="create_category_content" class="col-md-12" method="post" enctype="multipart/form-data" autocomplete="off" onsubmit="return updateCategory();">
        <table>
            <tbody>
                <tr>
                    <td><div class="bottom-margin30">Category Name<span class="Mandatory">*</span></div></td>
                    <td>
                        <input type="text" id="category_name" class="popup form-control text-field bottom-margin30" maxlength="100" value="@Model.Name" tabindex="1" autofocus name="categoryName">
                        <span id="validate-name" class="validation-message"></span>
                    </td>
                </tr>
                <tr>
                    <td><div class="bottom-margin30">Description</div></td>
                    <td>
                        <textarea class="form-control text-field top-margin" maxlength="1024" id="category_description" tabindex="2">@Model.Description</textarea>
                        <span>
                            *1024 characters maximum
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="category-btns">
        <div class="pull-right">
            <input type="submit" title="" class="col-md-2 btn btn-primary" value="Update" onclick="updateCategory()" id="saveEditCategory" disabled="disabled" tabindex="3">
            <input type="button" title="" class="col-md-2 btn btn-link" onclick="closeEditCategoryPopup()" value="Cancel" tabindex="4">
        </div>
    </div>
</body>
</html>

<script>
    $(function () {
        window.isEdited = false;
        window.editData = {
            ItemId: "@Model.Id",
            Name: "@Model.Name",
            Description: "@Model.Description"
        }
        window.parent.$("#EditCategoryPopup_wrapper").ejWaitingPopup("hide");
    });
</script>