@{
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/styles/edit-profile")
}

@section scripts{
    <script>
        $(document).ready(function () {
            var fulldata = JSON.parse(@Html.Raw(Json.Encode(ViewBag.ProfileDetail)));
            window.dateFormat = "@GlobalAppSettings.SystemSettings.DateFormat";
            editUser(fulldata, "@GlobalAppSettings.SystemSettings.DateFormat");
        });
    </script>

    @Scripts.Render("~/scripts/edit-profile")
}

<div id="edit_Profile_base_div" class="col-md-12 no-margin">
    <input type="hidden" id="UserName" value="@HttpContext.Current.User.Identity.Name" />
    <div class="col-xs-12 profile-edit no-padding" id="UserProfileMaster">
        <div id="edit_Profile_heading_div">
            <label class="section-heading">Change Password</label>
        </div>
        <div id="change-password">

            <div class="col-xs-12" id="change-password-content">
                <form class="col-xs-8 change_password_form">
                    <table class="user-profile-table" cellpadding="20">
                        <tr class="spacer">
                            <td class="">
                                Current Password*
                            </td>
                            <td class="">
                                <input type="password" class="form-control NotificationContent password-fields-user-profile-edit" id="old_password" name="old-password" />
                                <span class="su su-eye ViewGreen showHidePassword">

                                </span>
                            </td>
                            <td>
                                <span id="old_pasword_validate" class="password-validate-holder">

                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                New Password*
                            </td>
                            <td class="">
                                <input type="password" class="form-control password-fields-user-profile-edit" id="new_password" name="new-password" />
                                <span class="su su-eye ViewGreen showHidePassword"></span>
                            </td>
                            <td>
                                <span id="new_pasword_validate" class="password-validate-holder"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Confirm Password*
                            </td>
                            <td class="">
                                <input type="password" class="form-control password-fields-user-profile-edit" id="confirm_password" name="confirm-password" />
                                <span class="su su-eye ViewGreen showHidePassword">

                                </span>
                            </td>
                            <td>
                                <span id="confirm_pasword_validate" class="password-validate-holder">

                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding-top: 12px">
                                
                                <a href="/profile" class="btn btn-default pull-right LeftMargin15" title="">Cancel</a>
                                <input type="button" value="Save" class="btn btn-primary pull-right " id="change-password-save" onclick="onChangePasswordClick()" />
                            </td>
                            <td>
                                <span id="password_validation" class="password-validate-holder">

                                </span>
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
            <div class="col-lg-12" id="success_message">

            </div>
            <div class="page-inner-small-padding no-right-padding">
            </div>
        </div>
    </div>
</div>
