@{
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ItemDetail>

    @section styles{
        @Styles.Render("~/Styles/PermissionPage")
    }

    @section scripts{
        @Scripts.Render("~/scripts/PermissionPage")
    }

    @Html.Partial("../Shared/_FixedLeftSection", new ViewDataDictionary { { "IsCategoryLising", "false" } })

    <div id="base_container" class="col-md-12 user-permission no-padding">
        <div id="partialPlaceHolder">
            <div id="EditUserPermissionHeader">
                <div class="PageHeaderContainer col-lg-12 no-left-padding no-right-padding padding15">

                    <div class="col-xs-6 GroupHead no-left-padding">
                        <a href="/administration/user-management/users" title="Users">
                            <span class="report-security-head">
                                <i class="su su-back"> </i>
                            </span>
                        </a>
                        Manage Permissions - @ViewBag.DisplayName
                    </div>
                    <div class="col-xs-6 GroupButtons no-right-padding">
                    
                            <a type="button" class="btn btn-default" href="/administration/user-management/users/edit?username=@ViewBag.UserName">Edit Profile</a>
                              <input type="button" title="Add Permission to the user" id="AddPermissionButtonTop" value="Add Permission" class="btn btn-success rightAlign" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 permission-grid">@Html.Partial("_PermissionGrid", Model)</div>
            <div class="col-md-3">
                <div id="AddPermission" class="no-padding">
                    <iframe src="" id="AddPermissionIframe" width="100%" height="100%" style="border:0;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="userIdHidden" value="@Request["userid"]" />

    @Html.Partial("../Permission/_DeletePermission")

    <script type="text/x-jsrender" id="CommandsTemplate">
        <div>
            {{if IsUserPermission}}
            <span><a href="javascript:void(0);" class="deletePermission" data-permission-id="{{:PermissionId}}"><i class="su su-close"></i> Remove</a></span>
            {{else}}
            <span><a href="/administration/permissions/groups/edit?groupId={{:TargetId}}">{{:GroupName}}</a></span>
            {{/if}}
        </div>
    </script>
    <script type="text/x-jsrender" id="AccessModeTemplate">
        <div class="item-name">{{:PermissionAccessDescription}}</div>
    </script>
    <script type="text/x-jsrender" id="AccessModeHeader">
        <div class="item-name">Access Mode</div>
    </script>
    <script>

        var userId =@Request["userid"]

        $(document).ready(function () {

            $("#AddPermission").ejDialog({
                width: "600px",
                showOnInit: false,
                allowDraggable: true,
                enableResize: false,
                showHeader: false,
                height: "300px",
                title: "Add New Permission",
                enableModal: true,
                closeOnEscape: true,
                close: ''
            });
            $("#AddPermission_wrapper").ejWaitingPopup();
            $("#Grid").ejGrid({
                dataSource: ej.DataManager({ url: "/permission/GetAllUserPermission?userId=" + userId, adaptor: "UrlAdaptor" }),
                gridLines: ej.Grid.GridLines.Horizontal,
                allowPaging: true,
                pageSettings: { pageSize: 20 },
                allowSorting: true,
                allowSearching: false,
                allowSelection: true,
                actionComplete: function (args) {
                    if (args.model.currentViewData.length == 0) {
                        rowBound(38);
                    }
                },
                actionBegin: "fnOnUserPermissionActionBegin",
                rowDataBound: function () {
                    var height = $(".e-gridcontent").height();
                    if (height != null) {
                        rowBound(height);
                    }
                },
                dataBound: function (args) {
                    refreshFooterPosition($(".e-gridcontent").height());
                },
                columns: [
                    {
                        headerText: "Access Mode",
                        width: 80,
                        field: "PermissionAccessDescription",
                        templateID: "#AccessModeTemplate",
                        headerTemplateID: "#AccessModeHeader"
                    },
                    {
                        field: "PermissionEntityDescription",
                        headerText: "Entity",
                        width: 80
                    },

                    {
                        field: "ItemName",
                        headerText: "Scope",
                        width: 80
                    },
                    {

                        template: true,
                        allowSorting: false,
                        headerText: "Actions",
                        templateID: "#CommandsTemplate",
                        width: 40
                    }
                ]

            });
        });
    </script>
